**/*.map
**/.cache/**
**/*.vsix
node_modules/**
out/**
src/**
tests/**
scripts/**
docs/**
CONTRIBUTING.md
**/.git/**
.github/**
**/.vscode/**
**/src/**
**/out/**/*.map
**/*.ts
**/*.log
tsconfig.json
scripts/**
rebuild.sh
package-lock.json

