**/*.map
**/.cache/**
**/*.vsix
out/**
src/**
scripts/**
docs/**
CONTRIBUTING.md
node_modules/.cache/**
**/.git/**
**/.vscode/**
**/src/**
**/out/**/*.map
**/*.ts
**/*.log
tsconfig.json
scripts/**
rebuild.sh
package-lock.json

